<html>

{% include 'partials/head.twig' %}
{% include 'partials/form.twig' %}


<div id="cards-container">
    {% for key, val in data.cards %}
        <div class="card"
            coll-id="{{val.domain_collection.collection_number}}"
            level="{{val.level}}"
            card-id="{{val.nft_id}}">

            <button data-toggle="dropdown-{{ val.nft_id }}" class="or">&or;</button>
            <ul class="dropdown-pane" id="dropdown-{{ val.nft_id }}" data-dropdown>
                <li><a href="#" data-open="modal2x-{{ val.nft_id }}">2x</a></li>
                <li>{{ val.marbled }}</li>
                <li>
                    <div class="row">
                        <div class="small-8 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="desired_level" class="right inline">Level to</label>
                                </div>
                                <div class="small-9 columns">
                                    <input type="number" class="desired_level" size="2" id="desired_level_{{ val.nft_id }}"/>
                                    <input type="button" class="calculate button tiny" data-id="{{ val.nft_id }}"  value="Calculate needed XP"/>
                                </div>
                            </div>
                            <div class="actual_level" id="actual_level_{{ val.nft_id }}">
                                {{ val.level }}
                            </div>
                        </div>
                    </div>
                <li>
                <div class="result" id="result_{{ val.nft_id }}"></div>
            </ul>
            <div class="reveal" id="modal2x-{{ val.nft_id }}" data-reveal>
                <img src="{{ val.image_2k }}" border="0"/>
            </div>
            <div class='card-wrapper'>
                <img class='marble-img' loading="lazy" src='{{val.image}}' border='0' />
            </div>

            <div class="card-section">
                <p>coll id. <code> {{val.domain_collection.collection_number}} </code></em></p>
                <p>level <code> {{val.level}} </code></em></p>


                    {% if val.domain_collection.is_gold_card == true %}
                    {% set badge = "badge" %}
                    {% else %}
                    {% set badge = "primary" %}
                    {% endif %}

                <p>
                <a href="https://marble.cards/card/{{ val.nft_id }}">
                <span class="{{ badge }} alert">{{ val.nft_id }}</span></a></p>
                <form method="post" action="my_colls.php">
                    <input type="hidden" name="address" class="my_address">
                    <input type="hidden" name="card_id" value="{{ val.nft_id }}">
                    <button type="submit" class='button tiny'>Add to deck</button>
                </form>
            </div>
        </div>
    {% endfor %}

</div>
</html>
