<html>
	{% include 'partials/head.twig' %}
	{% include 'partials/form.twig' %}

	<div id="colls-container">
		<form method="post" action="new_coll.php">
			<input name="coll_name" type="text" id="new_coll_input"/>
			<input name="address" type="hidden" class="my_address"/>
			<input type="submit" value="New deck" class="button tiny primary">
		</form>

		<table id="table-colls-container" class="hover stack">
			{% for key, val in colls %}
				<tr>
					<td class="coll">
						<a href="/d?{{ key }}">{{ val }}</a>
					</td>
					<td class="delete">
						<form method="get" action="new_card.php">
							<input name="address" type="hidden" class="my_address"/>
							<input name="coll_id" type="hidden" value="{{ key }}"/>
							<input name="card_id" type="hidden" value="{{ card_id }}"/>
							<input type="submit" value="Add {{ card_id }} card to this {{ val }} deck" class="button tiny primary">
						</form>
					</td>
					<td class="delete">
						<form method="get" action="del_coll.php">
							<input name="address" type="hidden" class="my_address"/>
							<input name="coll_name" type="hidden" value="{{ key }}"/>
							<input type="submit" value="Remove" class="button tiny alert">
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</html>
